body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  /* Font stack. In case, one is not present on the client's computer, the other is used. */
}

.card {
    width: 400px;
     /* Setting the margins to auto is for the whole card to be in center. The flex value is for elements of the card.
    display flex also defaults to display block when the window is enlarged I think so, we use this property with the auto values for the margins
    which is what is required to center elements. margin-left and right to auto, width and display block. */
    margin: 0px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;  /* Inheritance helps here. We applied only one line here and we were able to center the two lines. We can also put this in
    border-blue and it still works because this selector is also for the image but text-align won't apply to images obviously*/
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 5px solid #d8cefe;
}

/* display: flex; only separates its direct children into separate columns. So, each element of the list inside was not separated. Hence, since, we 
need two columns; one for individuals and one for enterprise. So, we add div to get only two direct children of the main div where flex is being
applied. */

.pfp {
    width: 150px;
}


/* .border-blue {
    border: 1px dotted blue;
} */